@font-face {
  font-family: 'DecimaMonoPro';
  src:
    url('/fonts/DecimaMonoPro.woff2') format('woff2'),
    url('/fonts/DecimaMonoPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PTSans-Regular';
  src:
    url('/fonts/PTSans-Regular.woff2') format('woff2'),
    url('/fonts/PTSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
