@use './variables' as *;

.user-content {
  h2 {
    margin-top: 24px;
    @media (min-width: $tablet) {
      margin-top: 48px;
    }
  }
  p,
  ul,
  ol {
    font-family:
      'PTSans-Regular',
      -apple-system,
      BlinkMacSystemFont,
      Arial,
      sans-serif;
    letter-spacing: normal;
    text-transform: none;
    font-weight: 400;
    font-size: val(14, 16);
    line-height: 140%;
  }
  p {
    margin-top: 8px;
    @media (min-width: $tablet) {
      margin-top: 16px;
    }
  }
  ol {
    list-style-type: decimal;
  }
  ul,
  ol {
    padding-left: 38px;
    list-style-position: outside;
    li {
      margin-top: 8px;
      padding-left: 8px;
    }
  }
  ul {
    li {
      list-style: disc;
    }
  }
}
